

<body>
    <div class="container-fluid" id="navbar">
        <div class="row pb-5 d-flex align-items-center justify-content-end">
            <div class="col-2 d-flex">
                <button type="button" class="btn d-flex align-items-center">
                    <h6 class="m-0">Notre Savoir-Faire</h6>
                </button>
            </div>
            <div class="col-2 d-flex" id="dropdown">
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                    Menus-Plaisirs
                </button>
                <ul class="dropdown-menu text-center">
                    <li><a class="dropdown-item" href="#">Link 1</a></li>
                    <li><a class="dropdown-item" href="#">Link 2</a></li>
                    <li><a class="dropdown-item" href="#">Link 3</a></li>
                </ul>
            </div>
            <div class="col-1">
                <div class="logo">
                    <%= image_tag('logom.png', class: 'img-fluid', alt: 'main') %>
                </div>
            </div>
        </div>
    </div>
</body>